body{
    margin: 0;
    font-family:Montserrat;
    background-color: #DEE2E6;
}

img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    min-height: 20px;
    width: 80px;
}

.main{
    margin: 0;
}

/*semantics*/

h1{
    text-align: center;
    font-size: 3rem;
}

.secondary-heading{
    font-size: 1.125rem;
    font-weight: bold;
}


/*layout*/
header{
    width: 100%;

    margin: 0 auto;
    margin-bottom: 1em;

    padding: 1em 0em;

    background-color: #2F80ED;
}

header form{
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    gap:1em
}

header input{
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.125rem;
    padding: 0.5em;
}

header button{
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
}

.main-container{
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-container{
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: #ffff;
    border: none;
    border-radius: 10px;

    margin: 1.3em 0px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondary-header{
    display: flex;
    justify-content: space-between;

    margin: 0.6em 0.6em;
}

.secondary-header select{

    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.2em;

    background-color: transparent;
    color: #EB5757;

    font-size: 0.875rem;
    font-weight: bold;
}

.secondary-header select option{
    color: black;
}

.chart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em 0em;
    width: 100%;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather-info{
    width: 90%;
}

.weather-info p{
    font-size: 1.5em;
    line-height: 0.2em;
}

.map{
    background-color: greenyellow;
    width: 90%;
    border-radius: 10px;

    height: 300px;
}

@media(min-width:1000px){

    .statistics{

        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(300px,auto);

        grid-template-areas: 
        "info info pi"
        "bar line line";

        gap:1em;
    }

    .info{
        grid-area: info;
    }
    .pi{
        grid-area: pi;
    }
    .line{
        grid-area: line;
    }
    .bar{
        grid-area: bar;
    }

    header form{
        flex-direction: row;
    }

    .info-card{
        flex-direction: row;
        justify-content: space-around;
    }

    .map{
        width: 50%;
    }

    .weather-info{
        width: 40%;
    }
}